.folder {
  cursor: pointer;
  font-weight: bold;
}

.width-auto {
  width: auto !important;
}

.custom-item {
  line-height: 40px;
}

* {
  user-select: none;
}

.aside {
  height: 100vh;
  overflow: auto;
  position: sticky;
  top: 0;
  left: 0;
  flex-grow: 1;
}

.search-wrapper {
  position: sticky;
  top: 0;
  background-color: var(--bulma-body-background-color);
}

main {
  width: 70%;
  max-width: 70%;
  min-width: 70%;
}

[data-theme=dark] .aside::-webkit-scrollbar {
  background-color: var(--bulma-body-background-color);
}

[data-theme=dark] .aside::-webkit-scrollbar-thumb {
  background-color: var(--bulma-primary-00);
}